* {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.Dashboard {
  width: calc(100% - 256px);
  overflow-y: auto;
  padding: 50px;
}

.Sidebar {
  width: 256px;
  background-color: #f2f2f2;

}